$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$navy: #2A4369;

@import 'sass-bootstrap/lib/bootstrap';

body {
  background-color: $navy;
}

.logo {
  $margin: 42px;

  height: 36px;
  margin-top: $margin;
  margin-bottom: $margin;
}

.chat {
  height: 600px;
}

.chat-area {
  height: 80%;
  width: 100%;
  overflow: auto;
}

.chat-profile {
  width: 64px;
  height: 64px;
}

.chat-input {
  margin-top: 16px;
}
